aside{

    background-image: url(../imagenes/color\ fondo.png);
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   background-size: cover;
   opacity: 70%;
   margin-bottom: 20px;
 h5{
   display: inline-block;
    color: rgb(122, 92, 77);
    
 }
 

.emoji2{
  color: $colorTitulos;
}
}
